{
  "openapi": "3.0.0",
  "info": {
    "title": "MindKits Product Lists API",
    "version": "1.0.0",
    "description": "Extended schema including the product lists endpoint for use in Tawk chatbot."
  },
  "servers": [
    {
      "url": "https://www.mindkits.co.nz/api/v1"
    }
  ],
  "paths": {
    "/product_lists": {
      "get": {
        "summary": "Get Product Lists",
        "description": "Retrieves an array of product lists.",
        "operationId": "getProductLists",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "Expand response to include items",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of product lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "product_lists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product_pictures": {
      "get": {
        "summary": "Get Product Pictures",
        "description": "Retrieves an array of product pictures.",
        "operationId": "getProductPictures",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of product pictures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "product_pictures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer"
                          },
                          "image_file": {
                            "type": "string"
                          },
                          "alt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "is_primary": {
                            "type": "boolean"
                          },
                          "is_hidden": {
                            "type": "boolean"
                          },
                          "thumbnail_file": {
                            "type": "string"
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "flash_path": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "is_video_screen_shot": {
                            "type": "boolean"
                          },
                          "video_content": {
                            "type": "string"
                          },
                          "download_external_image": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product_pricing": {
      "get": {
        "summary": "Get Product Pricing",
        "description": "Retrieves an array of product pricing.",
        "operationId": "getProductPricing",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of product pricing information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "string"
                    },
                    "product_pricing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer"
                          },
                          "store_id": {
                            "type": "integer"
                          },
                          "customer_type_id": {
                            "type": "integer"
                          },
                          "variant_inventory_id": {
                            "type": "integer"
                          },
                          "sale_type_id": {
                            "type": "integer"
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "end_date": {
                            "type": "string"
                          },
                          "starting_quantity": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "price_calculation_id": {
                            "type": "integer"
                          },
                          "variant_id": {
                            "type": "integer"
                          },
                          "variant_price_surcharge": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product_statuses": {
      "get": {
        "summary": "Get Product Statuses",
        "description": "Retrieves an array of product statuses.",
        "operationId": "getProductStatuses",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of product statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "product_statuses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "time_frame": {
                            "type": "string"
                          },
                          "is_unavailable": {
                            "type": "boolean"
                          },
                          "is_hidden": {
                            "type": "boolean"
                          },
                          "is_back_ordered": {
                            "type": "boolean"
                          },
                          "show_quantity": {
                            "type": "boolean"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product_variants": {
      "get": {
        "summary": "Get Product Variants",
        "description": "Retrieves an array of product variants.",
        "operationId": "getProductVariants",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of product variants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "product_variants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer"
                          },
                          "variant_group_id": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "price_adjustment": {
                            "type": "integer"
                          },
                          "price_adjustment_type": {
                            "type": "string"
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "item_number_extension": {
                            "type": "string"
                          },
                          "item_number_sort_order": {
                            "type": "integer"
                          },
                          "is_hidden": {
                            "type": "boolean"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "weight_type": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "is_default_selection": {
                            "type": "boolean"
                          },
                          "swatch_file": {
                            "type": "string"
                          },
                          "swatch_thumbnail": {
                            "type": "string"
                          },
                          "swatch_thumbnail_color": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "Get Products",
        "description": "Retrieves an array of products.",
        "operationId": "getProducts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "item_number": {
                            "type": "string"
                          },
                          "manufacturer_id": {
                            "type": "integer"
                          },
                          "manufacturer_part_number": {
                            "type": "string"
                          },
                          "primary_category_id": {
                            "type": "integer"
                          },
                          "product_status_id": {
                            "type": "integer"
                          },
                          "item_name": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "retail": {
                            "type": "number"
                          },
                          "quantity_on_hand": {
                            "type": "integer"
                          },
                          "short_description": {
                            "type": "string"
                          },
                          "long_description_1": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "url_rewrite": {
                            "type": "string"
                          },
                          "is_discontinued": {
                            "type": "boolean"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "product_id": {
                                  "type": "integer"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "price_adjustment": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/variant_inventory": {
      "get": {
        "summary": "Get Variant Inventory",
        "description": "Retrieves an array of variant inventory records.",
        "operationId": "getVariantInventory",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of variant inventory entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "variant_inventory": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer"
                          },
                          "inventory": {
                            "type": "integer"
                          },
                          "item_number": {
                            "type": "string"
                          },
                          "manufacturer_item_number": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "product_status_id": {
                            "type": "integer"
                          },
                          "quickbooks_item_id": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "low_stock_warning_at": {
                            "type": "integer"
                          },
                          "low_stock_warning_enabled": {
                            "type": "boolean"
                          },
                          "gtin": {
                            "type": "string"
                          },
                          "variant_inventory_image": {
                            "type": "string"
                          },
                          "height": {
                            "type": "number"
                          },
                          "length": {
                            "type": "number"
                          },
                          "width": {
                            "type": "number"
                          },
                          "retail": {
                            "type": "number"
                          },
                          "shipper_hq_shipping_groups": {
                            "type": "string"
                          },
                          "shipper_hq_dimensional_rule_groups": {
                            "type": "string"
                          },
                          "shipper_hq_packing_boxes": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AC-Auth-Token"
      }
    }
  }
}