{
  "openapi": "3.0.0",
  "info": {
    "title": "MindKits Product API",
    "version": "1.0.0",
    "description": "API for retrieving product listings from MindKits"
  },
  "servers": [
    {
      "url": "https://www.mindkits.co.nz/api/v1"
    }
  ],
  "paths": {
    "/products.json": {
      "get": {
        "summary": "Get Product List",
        "description": "Returns a list of available products.",
        "operationId": "getProducts",
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AC-Auth-Token"
      }
    }
  }
}